@CHARSET "UTF-8";
html {  width: 400px; height: auto; }
body{ font-family: Arial, Tahoma, sans-serif; font-size: 11px; padding:0; margin:0 auto;background: #fff;overflow: scroll;}
a {text-decoration: none;color:#555;}

/* top bar
----------------------------------------------------------------------------- */

#bar {	padding:0.8em 1em; overflow:auto; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#efefef)); border-bottom: 1px solid #e0e0e0;}
#bar .remove-all {float:right!important;}
#bar .create {float:left!important;}
#bar .export-all {float:left!important; margin-left:10px;}
#bar .remove-all span {background: transparent url(../img/delete.png) 50% 50% no-repeat; display:block; width: 20px; height:28px; float:left; margin: 0 10px 0 0;}
#bar .create span {background: transparent url(../img/new.png) 50% 50% no-repeat; display:block; width: 16px; height:28px; float:left; margin: 0 10px 0 0;}

/* buttons
----------------------------------------------------------------------------- */

input[type=button],
input[type=submit],
#bar a.button {color:#444;text-decoration: none;display: block; padding:0 17px;font-weight: bold; line-height: 28px;
               border-radius:3px;
               background: #ffffff;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#EAEAEA));
               border: 1px solid #eee;
               box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
               float:left;
               border:1px solid #ddd;
               position: relative;
               cursor: pointer;
}
#bar a.button:active {top:1px;}

input[type=button]:hover,
input[type=submit]:hover,
#bar .button:hover { color:#555;}

p.buttons {padding: 1em 2em!important; overflow:hidden;}
.cancel {float:right!important;}
#button-remove-all, #button-remove {color:#a90329;}

/* forms and inputs
----------------------------------------------------------------------------- */

input[type=text] {	border: solid 1px #D6D6BE;	background-color: #fcfff4;	padding:3px 5px; width: 96%; font-size: 16px; -webkit-border-radius:2px; margin: 0 auto; display:block;}
input[type=text]:focus {	border: solid 1px #fff286;	background-color: #fff;}

.form {overflow-y: auto;}
.form label {	display: block;	font-weight: bold;text-align: left; font-size: 16px;}
.form label small { font-size: 10px !important;}


/* content
----------------------------------------------------------------------------- */

#content {	overflow: hidden; text-align: center!important;}
#content p {	margin: 0;	padding: 5px 3px 0 3px;}

/* item
----------------------------------------------------------------------------- */

.item {text-align: left;border-bottom: solid 1px #ccc; padding: 14px 12px!important; position: relative; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#efefef)); display:block; overflow:hidden;}
.item a.power {background: url(../img/play.png) 0 0 no-repeat; 	display: block; position: absolute;	right: 3px; width: 32px;height: 32px; bottom: 14px;right: 10px;}
.item a.running {background: url(../img/pause.png) 0 0 no-repeat;}
.item span.timer{	position: absolute;	right: 50px;	top: 23px; font-size: 17px;}
p.running {background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce));}

/* other elements
----------------------------------------------------------------------------- */

p.notask label {text-align: center;}
a.update:hover {color:#006e2e;}
a.remove:hover {color:#a90329;}

p.remove-confirm {color:#a90329; font-weight: bold;line-height: 1.2em;margin: 0; padding:1em 0!important;font-style: italic;font-size: 13px;}
p.remove-confirm strong {color:#333;}

#form-create {margin: 0 5px;}

/* footer
----------------------------------------------------------------------------- */

#footer {background:#fefefe;color:#bbb;margin:0; padding:5px; border-top: 1px solid #eee;}
#footer a {color:#bbb;}
#footer a:hover {color:#333;}
